div.main {
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    min-width: 300px;
    max-width: 300px;
}

div.name {
    margin: 0 auto;
    color: navy;
    text-align: center;
    display: block;
    font-size: 35px;
    height: 50px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.description {
    overflow: hidden;
    text-overflow: ellipsis;
}

button.remove {
    position: absolute;
    background-image: url(Images/remove.png);
    background-size: 18px;
    background-color: transparent;
    max-width: 18px;
    min-width: 18px;
    min-height: 18px;
    max-height: 18px;
    padding: 0;
    border: 0;
    top: 2px;
    right: 3px;
}

    button.remove:focus {
        outline: none;
    }

    button.remove:active {
        background-image: url(Images/remove-clicked.png);
    }

.image img {
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    display: block;
}

span {
    color: red;
}
