<footer id="footer" class="app-footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-3 col-xs-6">
                    <h3>Свій текст</h3>
                    <ul>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-3 col-xs-6">
                    <h3>Свій текст</h3>
                    <ul>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                        <li>
                            <a href="#">Свій текст</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12 " id="mailto">
                    <h3>Свій текст</h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button">Свій текст
                                    <i class="fa fa-long-arrow-right"> </i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus">   </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Shop for wood by Oleksandr Obukhivskyi. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li>
                        <i class="fa fa-cc-visa"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-mastercard"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-amex"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-paypal"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>